.message {
    background-color: #242424;
    color: white;
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.message.me {
    background-color: #535bf2;
    color: black;
}

.text {

}

.author {
    font-style: italic;
}